In [5]:


import sqlite3 #SQLLite3 - allows to read databases

con = sqlite3.connect('classDatabase.db') #connector to read databases ie. from this new file name db which then becomes available in left folder

In [7]:
con.execute("""

    create table books (
        book_id int unique primary key not null,
        title text,
        author text,
        pages int,
        rating float
    )
""")

In [12]:
con.execute("""
insert into books (book_id, title, author, pages, rating) values (1., Cormac Mcarthys Bed, Salman Rushdie, 123, 5)
""")

OperationalError: near "Mcarthys": syntax error

In [14]:
cur = con.execute("""
select book_id, title from books
            """)

cur

In [15]:
import sqlalchemy